* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

#header__img {
  background-image: url("../img/header__img.jpg");
  height: 400px;
  /* Photo by Edward Howell on Unsplash */
}
/* Podmienieć zdjęcie na papu jakieś */

@media (min-width: 576px) {
  #header__img {
    height: 600px;
  }
}
